* {
    margin: 0;
    padding: 0;
}



header,
nav {
    background-color: #fff;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-right-section {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-brand>img {
    width: 108px;
}

.nav-link {
    font-size: 13px;
}

.nav-toggler {
    border: none !important;
}

.account-icon-wrap {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px 6px 3px 6px;
}

.navbar-toggle {
    border: none;
    background-color: #fff;
    display: none;
}

@media screen and (max-width:990px) {
    .navbar>.container-fluid {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .navbar-toggle {
        display: block;
    }
}

@media screen and (max-width:768px) {
    .navbar>.container-fluid {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}



/* carousel */

#carouselExampleIndicators {
    margin-top: 56px;
    background-color: #f4f4f6;
}

.carousel-text-wrap {
    max-width: 360px;
}

.carousel-badge {
    color: #8a1212;
    font-weight: 500;
    background-color: #ffffff;
    padding: 2px 9px 3px 10px;
}

.carousel-text-wrap>button {
    padding: 6px 10px 7px 10px;
    border-radius: 2px;
    border: none;
    background-color: black;
    color: #ffffff;
}

.carousel-img {
    max-height: 475px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    .carousel-row {
        flex-direction: column-reverse;
    }
}

/* ribbon nav */

.ribbon-text {
    font-size: 17px;
    text-align: center;
    font-weight: 500;
}

.learn-more {
    color: #950c17;
    font-weight: 500;
    text-decoration: none;
}

/* download */

.edge-wrap {
    position: relative;
}

.edge-download-bg-img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.download-card {
    position: absolute;
    max-width: 356px;
    height: 311px;
    top: 75px;
    left: 51px;
    background-color: white;
}

.download-btn {
    padding: 6px 10px 7px 10px;
    border-radius: 2px;
    border: none;
    background-color: black;
    color: #ffffff;
}

@media screen and (max-width:768px) {
    .download-card {
        position: initial;
    }
}

.footer-nav {
    display: flex;
    grid-gap: 24px;
}

.footer-nav-icon {
    font-size: 23px;
}


/* back to top bnt */

.to-top-btn {
    background-color: #d9d9d9;
    padding: 8px 10px 10px 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all .15s;
    border-radius: 3px;
}

.to-top-btn:hover {
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 0px #bebdbd;
    color: black;
}

@media screen and (max-width:768px) {
    .to-top-btn {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}


/* footer */

footer {
    background-color: #f2f2f2;
    color: #616161;
    padding-bottom: 20px;
}

footer li {
    font-size: 11px;
    list-style: none;
}

.bottom-list {
    justify-content: space-evenly;
    margin: 0;
}

.location {
    font-size: 11px;
    margin: 0;
}

@media screen and (max-width:768px) {
    .bottom-list{
        flex-direction: column;
        padding: 0;
        margin-top: 10px;
    }
}